<div>
    <input type="text" name="username" id="username" placeholder="User Name">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Confirmar Password">
    <button type="submit" id="forgot">Cambiar Contraseña</button>
</div>