<div>
    <input type="text" name="username" id="username" placeholder="User Name">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit" id="login">Login</button>
</div>